<mat-toolbar class="heigt-30 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 text-center">
        <h2>Presupuesto:  {{Balance.montoPresupuestado}}</h2>
      </div>
      <div class="col-md-3 col-sm-12 text-center">
        <h2>Ingresos: {{Balance.totalIngresos}}</h2>
      </div>
      <div class="col-md-3 col-sm-12 text-center">
        <h2>Egresos:  {{Balance.totalIngresos}}</h2>
      </div>
      <div class="col-md-3 col-sm-12 text-center">
        <h2>Saldo a Favor: {{Balance.saldoFavor}}</h2>
      </div>
    </div>
  </div>
</mat-toolbar>